/*selector{
	property:value;
}*/

/*https://dev.to/sarah_chima/image-popup-on-hover-1kee (image popup on hover) */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
	background-color:#B5AA99;
	margin-top:30px;
	word-spacing:2px;
	font-family:"lexend";
	max-width: 1000px;
  	margin: 2rem auto;
}

ul {
  list-style-type: none;
  margin:1rem;
}


.thumbnail{
	position:absolute;
	margin-left:30px auto;
	margin-right:250px;
	right:250px auto;
	left:600px;
	top:255px;
}

li:hover .thumbnail{
	margin-left:30px auto;
	margin-right:250px;
	right:270px auto;
	left:550px;
	top:250px;
	z-index:9999;
}

.sneakpeek{
	position:absolute;
	margin-left:10px auto;
	margin-right:250px;
	max-width:680px;
	right:240px auto;
	left:550px;
	top:250px;
}


a{
	color:#FFFFFF;
	text-decoration:none;
}

a:hover{
	color:#EC7E39;
}

p{
	margin-left:50px;
	color:#BC4B34;
}

#week{
	font-weight:bolder;
	color:#D6E8E8;
	font-size:25px;

}
#name{
	color:#423A2D;
	font-weight:bolder;
}

h1{
	color:#FFFFFF;
	background-image: url(../assets/IMG_7238.jpeg);
	background-attachment:fixed;
	font-family:"playfair display";
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
}

.scrolling-wrapper {
  	overflow-y: auto; 
  	overflow-x: hidden;
  	white-space: nowrap;
  	max-width: 1000px;
  	height:560px;
  	margin-left: 2rem auto;
  	margin-right:2rem auto;
  	background-color:#5F5A54;
  	direction:ltr;
  }

 .block{
    display: inline-block;
    text-align:left;
  }
 
