/*selector{
	property:value;
}*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
	background-color:#B5AA99;
	margin-top:30px;
	word-spacing:2px;
	font-family:"lexend";
	margin: 1rem;
  	padding: 1rem;
  	max-width: 1000px;
  	margin: 2rem auto;
}

a{
	color:#FFFFFF;
	text-decoration:none;
}

a:hover{
	color:#58C6D1;
}

p{
	margin-left:50px;
	color:#BC4B34;
}

#week{
	font-weight:bolder;
}
#name{
	color:#423A2D;
	font-weight:bolder;
}

h1{
	color:#FFFFFF;
	background-image: url(../assets/IMG_7238.jpeg);
	background-attachment:fixed;
	font-family:"playfair display";
	padding-top:20px;
	padding-bottom:20px;
	padding-left:50px;
}