/*selector{
	property:value;
}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
	background-color:"#FF69B4";
	margin-left:50px;
	word-spacing:2px;
	font-family:"Roboto";
}
a{
	color:#0000FF;
}
h1{
	color: teal;
}
